<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wys.chats.flock.dao.TbFlockRelevanceDao">

	<resultMap id="TbFlockRelevance" type="com.wys.chats.entity.TbFlockRelevance">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="flock_id" property="flockId" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
		<result column="isdelete" property="isdelete" />
		<result column="role_id" property="roleId" />
	</resultMap>

	<sql id="Base_Column_List">
		`id`,
		`user_id`,
		`flock_id`,
		`remark`,
		`status`,
		`isdelete`,
		`role_id`
	</sql>
	
	<!-- 群关系群id -->
	<select id="getFlockRelevanceByUserId" parameterType="java.lang.Integer" resultType="java.lang.Object">
		SELECT group_concat(user_id) from tb_flock_relevance
		WHERE user_id=#{id} AND isdelete='1'
	</select>
	
	<insert id="insert" parameterType="java.util.Map">
		INSERT INTO tb_flock_relevance (
		`id`,
		`user_id`,
		`flock_id`,
		`remark`,
		`status`,
		`isdelete`,
		`role_id`
		)
		VALUES(
		#{tbFlockRelevance.id},
		#{tbFlockRelevance.userId},
		#{tbFlockRelevance.flockId},
		#{tbFlockRelevance.remark},
		#{tbFlockRelevance.status},
		#{tbFlockRelevance.isdelete},
		#{tbFlockRelevance.roleId}
		)
	</insert>

	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM tb_flock_relevance
		WHERE `id` = #{id}
	</delete>

	<update id="update" parameterType="java.util.Map">
		UPDATE tb_flock_relevance
		SET
		id = #{tbFlockRelevance.id},
		user_id = #{tbFlockRelevance.userId},
		flock_id = #{tbFlockRelevance.flockId},
		remark = #{tbFlockRelevance.remark},
		status = #{tbFlockRelevance.status},
		isdelete = #{tbFlockRelevance.isdelete},
		role_id = #{tbFlockRelevance.roleId},
		UpdateTime = NOW()
		WHERE `id` = #{tbFlockRelevance.id}
	</update>


	<select id="load" parameterType="java.util.Map" resultMap="TbFlockRelevance">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_flock_relevance
		WHERE `id` = #{id}
	</select>

</mapper>
