<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wys.chats.user.dao.TbUserRelevanceDao">

    <resultMap id="TbUserRelevance" type="com.wys.chats.entity.TbUserRelevance" >
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="friend_id" property="friendId" />
        <result column="user_group_id" property="userGroupId" />
        <result column="remark" property="remark" />
        <result column="reminder" property="reminder" />
        <result column="status" property="status" />
        <result column="isdelete" property="isdelete" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `user_id`,
        `friend_id`,
        `user_group_id`,
        `remark`,
        `reminder`,
        `status`,
        `isdelete`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO tb_user_relevance (
            `id`,
            `user_id`,
            `friend_id`,
            `user_group_id`,
            `remark`,
            `reminder`,
            `status`,
            `isdelete`
        )
        VALUES(
            #{tbUserRelevance.id},
            #{tbUserRelevance.userId},
            #{tbUserRelevance.friendId},
            #{tbUserRelevance.userGroupId},
            #{tbUserRelevance.remark},
            #{tbUserRelevance.reminder},
            #{tbUserRelevance.status},
            #{tbUserRelevance.isdelete}
        )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM tb_user_relevance
        WHERE `id` = #{id}
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE tb_user_relevance
        SET
            id = #{tbUserRelevance.id},
            user_id = #{tbUserRelevance.userId},
            friend_id = #{tbUserRelevance.friendId},
            user_group_id = #{tbUserRelevance.userGroupId},
            remark = #{tbUserRelevance.remark},
            reminder = #{tbUserRelevance.reminder},
            status = #{tbUserRelevance.status},
            isdelete = #{tbUserRelevance.isdelete},
            UpdateTime = NOW()
        WHERE `id` = #{tbUserRelevance.id}
    </update>


    <select id="load" parameterType="java.util.Map" resultMap="TbUserRelevance">
        SELECT <include refid="Base_Column_List" />
        FROM tb_user_relevance
        WHERE `id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="TbUserRelevance">
        SELECT <include refid="Base_Column_List" />
        FROM tb_user_relevance
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM tb_user_relevance
    </select>

</mapper>
