<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wys.chats.user.dao.TbUserMessageDao">

    <resultMap id="TbUserMessage" type="com.wys.chats.entity.TbUserMessage" >
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="friend_id" property="friendId" />
        <result column="msg_info" property="msgInfo" />
        <result column="resource_url" property="resourceUrl" />
        <result column="send_time" property="sendTime" />
        <result column="msg_state" property="msgState" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `user_id`,
        `friend_id`,
        `msg_info`,
        `resource_url`,
        `send_time`,
        `msg_state`
    </sql>
    
    <!-- 统计用户未读消息数 -->
	<select id="countUserMessageByUserId" parameterType="com.wys.chats.entity.TbUserInfo" resultType="java.lang.Integer">
		SELECT count(id) from tb_user_message where user_id= #{id} and msg_state='0'
	</select>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO tb_user_message (
            `id`,
            `user_id`,
            `friend_id`,
            `msg_info`,
            `resource_url`,
            `send_time`,
            `msg_state`
        )
        VALUES(
            #{tbUserMessage.id},
            #{tbUserMessage.userId},
            #{tbUserMessage.friendId},
            #{tbUserMessage.msgInfo},
            #{tbUserMessage.resourceUrl},
            #{tbUserMessage.sendTime},
            #{tbUserMessage.msgState}
        )
    </insert>
    
    
	
    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM tb_user_message
        WHERE `id` = #{id}
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE tb_user_message
        SET
            id = #{tbUserMessage.id},
            user_id = #{tbUserMessage.userId},
            friend_id = #{tbUserMessage.friendId},
            msg_info = #{tbUserMessage.msgInfo},
            resource_url = #{tbUserMessage.resourceUrl},
            send_time = #{tbUserMessage.sendTime},
            msg_state = #{tbUserMessage.msgState},
            UpdateTime = NOW()
        WHERE `id` = #{tbUserMessage.id}
    </update>


    <select id="load" parameterType="java.util.Map" resultMap="TbUserMessage">
        SELECT <include refid="Base_Column_List" />
        FROM tb_user_message
        WHERE `id` = #{id}
    </select>
</mapper>
